
/*Google fonts imports*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Roboto:wght@400;700&display=swap');

/*Setting default colors to be accesed with var() method*/
:root{
    --primary-color: #f0f4ef;
    --secondary-color: #b4cded;
    --accent1-color: #344966;
    --accent2-color: #0d1821;

    --heading-font: 'Open Sans', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color:#0d1821;
    --nav-link-color:#b4cded ;
    --nav-hover-link-color:  #f0f4ef;
    --nav-hover-backround-color:#344966;
}


/*Individual styling*/
body{
    font-family: var(--paragraph-font);
    padding: 20px;  
    
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color); 
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    height:50%;
    margin-top:5%;
    margin-right: 3%;
}

p{
    padding: 25px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color:var(--nav-hover-backround-color);
}

#people_rafting{
    display: block;
    width:100%;
    height:auto;
    opacity:0.5;
}

h1 {
    position:relative;
    top:50%;
    left:20%;
    color: darkorange;
    font-size:1000%;

}
